@model List<Project_MVC.Models.Cart>
@using Project_MVC.Models;


<section style="background-color: #eee; margin-top: 4rem">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a href="/" class="text-body" style="color:blueviolet!important">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Tiếp tục mua sắm
                                    </a>

                                    <a href="/Order/ViewOrder" class="text-body float-right" style="color:blueviolet!important">
                                        Sản phẩm đã mua <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <h5 style="color:darkblue" class="mb-1">Giỏ hàng</h5>
                                    </div>
                                    <div>
                                        <p style="color:darkblue" class="mb-0">Số sản phẩm trong giỏ hàng :  @Model.Count() </p>
                                    </div>
                                </div>
                                @{
                                    double sum = 0;
                                    var ship = 50000;
                                }
                                @if (Model.Count() != 0)
                                {
                                    foreach (Cart cart in Model)
                                    {
                                        sum += Convert.ToDouble(cart.Product.Prices * cart.Quantity);
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="/Resources/Image/@cart.Product.Images"
                                                                 class="img-fluid rounded-3" alt="@cart.Product.Names" style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3 ml-1" style="color: mediumblue">
                                                            <h5>@cart.Product.Names </h5>
                                                            <p class="small mb-0">Giá: @String.Format("{0:0,##}", cart.Product.Prices) VND</p>
                                                        </div>

                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                            <button id="decrease" class="btn btn-link" style="padding:0 0 0 0.8rem"
                                                                    onclick="location.href = '@Url.Action("Decrease","Cart", new {Id = cart.Id})'">
                                                                <i class="fas fa-minus"></i>
                                                            </button>

                                                            <input style="width: 3rem" id="amount" min="1" name="quantity" value="@cart.Quantity" 
                                                                   class="form-control form-control-sm" />

                                                            <button id="increase" class="btn btn-link" style="padding: 0"
                                                                   onclick="location.href = '@Url.Action("Increase","Cart", new {Id = cart.Id})'">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">

                                                        <div style="width: 10rem; font-size:smaller">
                                                            <strong class="mb-0">Tổng: @String.Format("{0:0,##}", cart.total) VND</strong>
                                                        </div>
                                                        <a href="/Cart/Remove/@cart.Id" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p style="margin:auto; color: red; font-weight:500; display: table">Không có sản phẩm trong giỏ hàng!!!</p>
                                }


                            </div>
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Thanh toán</h5>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                 class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Tạm tính</p>
                                            <p class="mb-2">@String.Format("{0:0,##}", sum) VND</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Phí ship</p>
                                            <p class="mb-2">50,000 VND</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Tổng hóa đơn</p>
                                            <p class="mb-2">@String.Format("{0:0,##}", sum + ship) VND</p>
                                        </div>

                                        <a href="/Order/"  class="btn btn-info btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span> Tổng: @String.Format("{0:0,##}", sum + ship) VND</span>
                                                <span>Tiến hành thanh toán <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </a>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    @@media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }
</style>
